header.mainHeader{
	width: 100%;
	z-index: 1;
	background: url(gambar1.jpeg);
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	padding: 0;
	padding-bottom: 140px;
	display: block;
	height:800px;

	background-position:static;

}

.mainHeader .container{
	position:relative;
	top:50%;
	margin-top:-160px;
	text-align: center;
}


h1{
	font-family: 'Lato', sans-serif;
	font-size: 72px;
	line-height: 62px;
	font-weight: 300;
	color:#fff;
	margin-bottom:15px;
}


h2 {
	font-family: 'Lato', sans-serif;
	font-weight:bold;
	font-size: 32px;
	line-height: 32px;
	color: #000;
	text-align: center;
	margin-bottom:15px;
	clear: both;
	display: block;
}
.mainHeader h2{
	color:#fff;
	font-weight:300;
	margin-bottom: 35px;
}


@keyframes growIn { 
    0% { 
        transform: scale(0.2); 
        opacity:0;
    } 
    50% { 
        transform: scale(1.2); 
        
    } 
    100% { 
        transform: scale(1); 
        opacity:1;
    } 
} 
.growIn { 

    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity:0;
}@keyframes growIn { 
    0% { 
        transform: scale(0.2); 
        opacity:0;
    } 
    50% { 
        transform: scale(1.2); 
        
    } 
    100% { 
        transform: scale(1); 
        opacity:1;
    } 
} 
.growIn { 

    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity:0;
}

.slower{
    -webkit-animation-duration: 2s; 
   animation-duration: 2s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
}

.bounceInRight, .bounceInLeft, .bounceInUp, .bounceInDown{
    opacity:0;
    -webkit-transform: translateX(400px); 
    transform: translateX(400px); 
}

@-webkit-keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        
        -webkit-transform: translateX(400px); 
    } 
    60% { 
        
        -webkit-transform: translateX(-30px); 
    } 
    80% { 
        -webkit-transform: translateX(10px); 
    } 
    100% {
    opacity: 1;
     
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes bounceInRight { 
    0% { 
        opacity: 0; 
        
        transform: translateX(400px); 
    } 
    60% { 
        
        transform: translateX(-30px); 
    } 
    80% { 
        transform: translateX(10px); 
    } 
    100% {
    opacity: 1;
     
        transform: translateX(0); 
    } 
} 


.bounceInRight.go { 
    -webkit-animation-name: bounceInRight; 
    animation-name: bounceInRight; 
}